html, body {
	height: 100%;
	/* min-width: 640px; */
}

body {
	margin: 0px;
	padding: 0px;
	background: #A80154;
	background: #000000;
	font-family: 'Chivo', sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: #363636;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 190%;
}

em {
	font-weight: bold;
	word-spacing: +0.05em;
}

a {
	color: #171717;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}


hr {
	display: none;
}

article{
	font-size: 13pt;
	word-wrap: break-word;
}



/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.big-title{
		text-decoration: none;
		color: #FFFFFF;
		letter-spacing: 0.010em;
		padding: 0.25em 0.5em;
		text-transform: none;
		margin: 0 auto;
		position: absolute;
		left:20%;
	}
	
	h2.big-title{
		font-size: 28px;
		top:7px;
		
	}
	
	h1.big-title{
		font-size: 35px;
		text-align: center;
		top: 40px;
	}

	.title
	{
		margin-bottom: 2em;
		text-transform: uppercase;
	}

	.title h2
	{
		font-weight: 400;
		font-size: 2em;
		color: #B10058;
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #6F6F6F;
	}
	
	#header-wrapper
	{
		position: relative;
		overflow: hidden;
		background-size: 100%;
		padding: 0em 0em 0em 0em;
		background: #333333;
		height: 140px;
		width: 100%;
		z-index:1;
		font-size: 13pt;
	}
	
	#logoX{
		position: absolute;
		float:left;
		top: 2px;
		left: 2px;
		max-width:20%;
	}
	


/** WRAPPER */

#wrapper {
	width: 100%;
	background: #FFFFFF url(images/bg01.png) repeat;
}

#footer-wrapper
{
	background: #0F0F0F;
}

.container {
	/* width: 1200px; */
	margin: 0px auto;
}

.clearfix {
	/*not used?*/
	clear: both;
}


/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/




/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

/* 	#header 
	{
		position: relative;
		overflow: hidden;
		text-align: center;
	} */

/*********************************************************************************/
/* Language chooser                                                              */
/*********************************************************************************/

	#language
	{
		float:right;
		position: absolute;
		top: 10px;
		right: 13px;
		overflow: hidden;
		text-align: left;
		font-size: small;
	}
	
	#language a{
		color: #ADADAD;
	}
	


/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

/* 	#banner 
	{
		overflow: hidden;
		height: 440px;
		background: url(../images/dupont3.jpg) no-repeat center;
		background-size: cover;
	}
	
	#banner .image
	{
	} */
	
	#CarouselBanner{
		margin-bottom: 15px;
	}
	
	.carousel{
		max-height: 23em;
		overflow: hidden;
	}



/** PAGE */

/* #page
{
	position: relative;
	overflow: hidden;
	padding: 6em 0em 5em 0em;
}

/** CONTENT */

/* #content
{
	float: right;
	max-width: 70%;
	text-align: justify;
	margin-right: 5%;
}
 */
/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	ul.style1
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	ul.style1 li
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0.40em;
	}
	
	ul.style1 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}
	
	#sidebar
	{
		float: left;
		margin-left:20px;
		max-width: 20%;
		text-decoration : none;
	}
	
	#sidebar h2
	{
		font-size: 1.6em;
		padding-top : 1em;
		padding-bottom: 0.5em;
	}
	
	#sidebar a {
		text-decoration: none;
	}
	
	#logoCP{
		max-width: 100%;
	}
	


/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5px 0em;
		text-align: center;
		color: #ADADAD;
		background-color: #363636;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: rgba(255,255,255,.5);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,1);
	}
	
/*********************************************************************************/
/* Contact                                                                        */
/*********************************************************************************/

.contact{
	line-height: normal;
	font-weight: bold;
}

/*********************************************************************************/
/* Sponsors                                                                      */
/*********************************************************************************/

#article-sponsors{
	/*line-height: big;*/
	padding-right: 70%;
}








	